h2 {
  margin: 0;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -1.5px;
  text-align: center; }
  @media screen and (max-width: 900px) {
    h2 {
      font-size: 36px;
      line-height: 36px; } }

h3 {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: #0075ff; }

small {
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 27px;
  color: #9fadc2; }

.header__link, .nav__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none; }
  .header__link:hover, .nav__link:hover {
    color: #9fadc2; }
  .header__link:hover, .nav__link:hover {
    cursor: pointer; }

.gallery__button, .user-form__button {
  font-size: 16px;
  line-height: 14px;
  cursor: pointer; }

html,
body,
ul,
li,
button,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit; }

a {
  color: #0075ff;
  text-decoration: none; }

textarea {
  resize: none; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.ttf") format("ttf");
  font-weight: bold;
  font-style: normal; }

.callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .callback__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 900px) {
      .callback__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .callback__article {
    width: 412px; }
    @media screen and (max-width: 900px) {
      .callback__article {
        width: calc(100% - 10px); } }
  @media screen and (max-width: 900px) {
    .callback__form {
      width: 100%; } }

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 27px; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.container {
  margin: 0 auto;
  width: calc(100% - 40px);
  max-width: 1050px; }
  @media screen and (max-width: 900px) {
    .container {
      margin: 0;
      width: 100%; } }

.section {
  padding: 50px 25px; }
  @media screen and (max-width: 500px) {
    .section {
      padding: 25px 20px; } }

.mainlogo {
  margin: 0 auto 25px;
  width: 115px; }
  @media screen and (max-width: 500px) {
    .mainlogo {
      width: 73px; } }

.small-logo {
  margin: 7px auto 37px; }

.header {
  margin-bottom: 50px;
  background-image: url(../images/header.jpg);
  background-size: cover; }
  .header__extra-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px; }
  .header__link {
    position: relative; }
    .header__link--active {
      outline: none; }
      .header__link--active::after {
        content: "";
        position: absolute;
        bottom: -8px;
        left: 0;
        height: 1px;
        width: 100%;
        background-color: #fff; }
      @media screen and (max-width: 900px) {
        .header__link--active {
          visibility: hidden; } }
    @media screen and (max-width: 900px) {
      .header__link--tel {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
        line-height: 20px; }
        .header__link--tel::after {
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          width: 18px;
          height: 18px;
          background: url(/images/phone.svg) no-repeat; } }
  .header__title {
    position: relative;
    margin: 314px 812px 30px 25px;
    font-size: 60px;
    line-height: 60px;
    font-weight: bold;
    white-space: nowrap;
    color: #fff; }
    .header__title::after {
      content: "";
      position: absolute;
      left: 0;
      top: -15px;
      height: 2px;
      width: 35px;
      border-radius: 2px;
      background-color: #fff; }
    @media screen and (max-width: 900px) {
      .header__title {
        margin: 0 10px;
        font-size: 46px;
        line-height: 40px; } }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none; }
  @media screen and (max-width: 900px) {
    .nav__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.nav__item {
  padding: 5px 24px;
  margin: 50px 25px;
  white-space: nowrap;
  color: black; }
  .nav__item--active {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px; }
  @media screen and (max-width: 900px) {
    .nav__item {
      margin: 5px auto; } }

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media screen and (max-width: 900px) {
    .info {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .info__title {
    width: 328px;
    margin: 45px 0;
    text-decoration: none;
    text-align: left; }
    @media screen and (max-width: 900px) {
      .info__title {
        width: 100%; } }
  .info__article {
    width: 500px; }
    @media screen and (max-width: 900px) {
      .info__article {
        width: calc(100% - 10px); } }

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .gallery__title {
    text-align: center; }
  .gallery__picture {
    height: 256px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
    border-radius: 8px; }
    @media screen and (max-width: 900px) {
      .gallery__picture {
        height: 130px; } }
  .gallery__address {
    margin: 25px 0 40px; }
  .gallery__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    .gallery__row--wide-even .gallery__picture {
      width: calc(50% - 10px); }
    .gallery__row--wide-left .gallery__picture:first-child {
      width: calc(66.6% - 10px); }
      @media screen and (max-width: 500px) {
        .gallery__row--wide-left .gallery__picture:first-child {
          width: calc(50% - 10px); } }
    .gallery__row--wide-left .gallery__picture:last-child {
      width: calc(33.3% - 10px); }
      @media screen and (max-width: 500px) {
        .gallery__row--wide-left .gallery__picture:last-child {
          width: calc(50% - 10px); } }
    .gallery__row--wide-right .gallery__picture:first-child {
      width: calc(33.3% - 10px); }
      @media screen and (max-width: 500px) {
        .gallery__row--wide-right .gallery__picture:first-child {
          width: calc(50% - 10px); } }
    .gallery__row--wide-right .gallery__picture:last-child {
      width: calc(66.6% - 10px); }
      @media screen and (max-width: 500px) {
        .gallery__row--wide-right .gallery__picture:last-child {
          width: calc(50% - 10px); } }
  .gallery__button {
    margin: 0 auto;
    width: 188px;
    height: 56px;
    background-color: #fff;
    color: #0075ff;
    border: 2px solid #0075ff;
    border-radius: 8px;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    .gallery__button:hover {
      background-color: #0075ff;
      border-color: #fff;
      color: #fff; }

.user-form {
  width: 413px; }
  @media screen and (max-width: 900px) {
    .user-form {
      width: 100%; } }
  .user-form__input {
    width: 100%;
    margin: 16px 0;
    padding: 17px;
    font-size: 14px;
    line-height: 14px;
    background: #f7f8ff;
    border: 1px solid #fff;
    border-radius: 8px; }
  .user-form__button {
    margin-top: 25px;
    width: 100%;
    height: 56px;
    background-color: #0075ff;
    -webkit-box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
            box-shadow: 0 6px 23px rgba(0, 117, 255, 0.46);
    border-radius: 8px;
    color: #fff;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
    .user-form__button:hover {
      background: #0067df;
      -webkit-box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46);
              box-shadow: 0 13px 27px rgba(0, 83, 181, 0.46); }

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center; }
  .clients__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 700px) {
      .clients__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .clients__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 240px; }
  .clients__portrait {
    height: 153px;
    width: 153px;
    margin: 28px; }

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .contacts__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 900px) {
      .contacts__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; } }
  .contacts__article {
    -ms-flex-item-align: start;
        align-self: flex-start; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 400px;
  width: 100%;
  background-image: url(../images/footer.jpg);
  background-size: cover; }
  @media screen and (max-width: 500px) {
    .footer {
      height: 205px; } }

/*# sourceMappingURL=main.css.map */
